@import 'config';
@import 'nav';
@import 'form';

body {
    background-color: $red;
}

.app {
    background-image: url('../../images/bg-intro-desktop.png');
    height: 100vh;
    width: 100%;
}

#landing-page {
    color: $dark-blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;
    height: 60vh;
    width: 100%;

    padding: 1rem;

    h1 {
        margin-bottom: 1rem;
    }

    p {
        margin-bottom: 1.5rem;
    }

    button {
        padding: 1rem 0.5rem;
        font-size: 18px;
        
    }
}